@import "../variables.scss";
.contact-container {
    display: flex;
    @include flexCenter(column);
    max-width: 1800px !important;
    margin: auto;
    padding: 70px 70px 0 70px;

    p {
        font-family: "Roboto", sans-serif;
    }
    h1 {
        font-family: "EB Garamond", serif;
    }
    .map-and-details-container {
        @include flexCenter(row);
        text-align: left;
        margin-bottom: 100px;
        .google-map-container {
            flex: 3;
            padding-right: 30px;
        }
        .map-details-container {
            flex: 2;
        }
    }
}

@media only screen and (max-width: 1076px) {
    .map-and-details-container {
        flex-direction: column !important;
    }
    .google-map-container {
        flex: 1 !important;
        margin: auto;
        padding: 0 !important;
        order: 1;
    }
    .map-details-container {
        flex: 1 !important;
    }
    .contact-container {
        padding-top: 20px !important;
    }
}
