@import "../variables.scss";

.delivery-and-services-container {
    @include flexCenter(column);
    max-width: 1800px;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 200px;
    position: relative;
    .clear {
        height: 200px;
    }
    .mixed-fruits-left {
        position: absolute;
        bottom: 40px;
        left: 50px;
    }
    .mixed-fruits-right {
        position: absolute;
        bottom: -10px;
        right: 100px;
    }

    .delivery-and-services-title {
        @include flexCenter(row);
        position: relative;
        .left-leaves {
            position: absolute;
            left: 230px;
            top: -60px;
        }
        .right-leaves {
            position: absolute;
            right: 230px;
            top: -60px;
        }
    }
    & h1 {
        margin-bottom: 60px;
        margin-top: 60px;
        font-size: 42px;
        font-weight: 400;
    }
    & h4 {
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 400;
        // max-width: 180px;
        margin: auto;
    }

    .blocks {
        max-width: 1249px;
        height: 100%;
        @include flexCenter(row);
        align-items: flex-start;
        // flex-wrap: wrap;
        .block {
            min-width: 300px;
            margin: 0 30px;
            text-align: center;
            width: 500px;

            p {
                text-align: justify;
                @include roboto(20px);
                font-weight: 300;
                margin-top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1433px) {
    .delivery-and-services-container {
        justify-content: flex-start !important;
        padding-top: 120px;
        height: 100%;
        .mixed-fruits-right {
            width: 200px;
        }
        .mixed-fruits-right {
            width: 70px;
        }

        & h1 {
            margin: 0 !important;
            margin-bottom: 20px !important;
        }
        .blocks {
            display: block;
            flex: 1;
            // margin: 0 25px !important;
        }

        .left-leaves {
            // display: block;
            // position: relative !important;
            top: -65px !important;
            left: 10px !important;
            width: 120px;
        }
        .right-leaves {
            // display: none;
            top: -65px !important;
            right: 10px !important;
            width: 120px;
        }
        .block {
            text-align: justify;
        }
    }
}
