@import "../variables.scss";
.contact-form-div {
    @include flexCenter(column);
    height: 784px;
    justify-content: flex-start;
    padding-top: 50px;
    background-color: #f6f6f8;
    h1 {
        font-weight: 400;
    }
    p {
        font-weight: 300;
    }
    .contact-form-contents {
        width: 470px;
        padding: 0 50px;
    }
    .contact-form-fields {
    }
    textarea,
    input {
        border: none;
        background-color: #f6f6f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.432);
        width: 100%;
    }
    #message-input {
        height: auto;
        width: 100%;
    }
    .recaptcha-div {
        @include flexCenter(column);
        margin-top: 20px;
    }
    .submit-button {
        margin-top: 20px;
        width: 108px;
        height: 52px;
        font-size: 28px;
        font-weight: 400;
        color: white;
        background-color: #277d2a;
        border: none;
    }
    .terms {
        margin-top: 20px;
        p {
            margin: 0 !important;
        }
    }
}
#contact-form-confirmation {
    display: none;
}
