@import "../variables.scss";
.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 100px);
    max-width: 1800px;
    margin: auto;
    transition: background-image 0.5s linear;
    animation: fadeIn 1s;

    // min-height: calc(100vh - 150px);
    // transform: scaleX(-1);
    height: 100%;
    @include flexCenter(column);
    align-items: flex-start;
    padding-left: 70px;
    @keyframes fadeIn {
        0% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
    h1 {
        font-weight: 300;
        font-size: 50px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
        max-width: 491px;
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: "Roboto", sans-serif;
    }
    .products-button {
        margin-top: 50px;
        padding: 8px 25px;
        background-color: $green;
        color: white !important;
        border-radius: 15px;
        font-size: 20px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;

        img {
            padding-left: 10px;
        }
    }

    .fairtrade {
        width: 223px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1076px) {
    .hero {
        height: calc(100vh - 75.5px);
        align-items: center;
        justify-content: flex-start;
        padding: 25px 20px !important;
        align-items: center;

        p {
            text-align: center !important;
        }
        h1 {
            text-align: left;
            margin-top: 5px !important;
            font-size: 35px !important;
            margin-bottom: 25px !important;
        }
        .fairtrade {
            width: 170px !important;
            margin-top: 25px !important;
        }
        .products-button {
            margin-top: 25px !important;
        }
    }
}

@media only screen and (min-width: 1800px) {
    .hero {
        box-shadow: 0 0 2px 2px white inset;
    }
}
