@import "../variables.scss";

.what-we-do-container {
    @include flexCenter(column);
    height: 827px;
    width: 100%;
    .what-we-do-title {
        @include flexCenter(row);
        position: relative;
        .left-leaves {
            position: absolute;
            left: 230px;
            top: -120px;
        }
        .right-leaves {
            position: absolute;
            right: 230px;
            top: -120px;
        }
    }
    h1 {
        margin-bottom: 60px;
        margin-top: 60px;
    }
    h4 {
        margin-bottom: 30px;
    }
    .blocks {
        max-width: 1076px;
        height: 100%;
        @include flexCenter(row);
        // flex-wrap: wrap;
        .block {
            width: 278px;
            margin: 0 50px;
            text-align: center;

            p {
                text-align: justify;
            }
        }
    }
    @media only screen and (max-width: 1076px) {
        .blocks {
            display: block;
        }

        .left-leaves {
            display: none;
        }
        .right-leaves {
            display: none;
        }
        .block {
            text-align: justify;
        }
    }
}
@media only screen and (max-width: 1076px) {
    .what-we-do-container {
        justify-content: flex-start !important;
    }
}
