$green: #277d2a;
$darkgreen: #164f39;
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// @include flexCenter(column);
